@font-face{font-family:'Vibes';src:url('/fonts/GreatVibes-Regular.ttf');font-display:swap;}
@font-face{font-family:'Corm';src:url('/fonts/Cormorant-VF.ttf');font-weight:300 700;font-display:swap;}
@font-face{font-family:'CormI';src:url('/fonts/Cormorant-Italic-VF.ttf');font-weight:300 600;font-style:italic;font-display:swap;}
@font-face{font-family:'Jost';src:url('/fonts/Jost-VF.ttf');font-weight:300 600;font-display:swap;}
@font-face{font-family:'Deva';src:url('/fonts/Tiro-Deva.ttf');font-display:swap;}
